
.blog-preview-kachel {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    width: calc((80% - 5em) / 3);

    padding: 1em;
    margin: 1em;
    border-radius: 5px;

    transform: none;
    transition: transform 0.3s ;
}

.blog-preview-kachel:hover {
    cursor: pointer;

    transform: scale(1.1);
}


#blog-preview-image {
    width: 100%;
    height: auto;
}

#blog-preview-signature {
    font-style: italic;
    font-weight: lighter;
}

@media screen and (max-width: 850px) {
    .blog-preview-kachel {
        width: 100%;
    }
}