#hero-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 8vh;

    border-top-right-radius: 0;
    border-top-left-radius: 0;

    padding-top: 5em;
    padding-bottom: 5em;
}

@media screen and (max-width: 450px) {
    #hero-wrapper {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
